<!-- chatRoom.ejs -->
<%- include("partials/header"); -%>
<!-- 聊天訊息 -->
<div id="chatMessages">
  <% if (chatRoom.messages && chatRoom.messages.length > 0) { %> <%
  chatRoom.messages.forEach((message) => { %>
  <div><%= message.text %></div>
  <% }); %> <% } else { %>
  <div>No messages yet.</div>
  <% } %>
</div>

<!-- 聊天輸入表單 -->
<form id="chatForm">
  <input
    type="text"
    id="messageInput"
    placeholder="Type your message..."
    required
  />
  <button type="submit">Send</button>
</form>

<!-- 引入 Socket.IO 客戶端程式庫 -->
<script src="/socket.io/socket.io.js"></script>

<!-- 前端 JavaScript 代碼 -->
<script>
  const socket = io();
  const chatMessages = document.getElementById("chatMessages");
  const chatForm = document.getElementById("chatForm");
  const messageInput = document.getElementById("messageInput");

  // 監聽 'message' 事件，並在收到訊息時更新網頁上的內容
  socket.on("message", (data) => {
    const message = data.text;
    const messageElement = document.createElement("div");
    messageElement.innerText = message;
    chatMessages.appendChild(messageElement);
  });

  // 監聽表單的提交事件，發送聊天訊息到伺服器
  chatForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const message = messageInput.value.trim();
    if (message !== "") {
      const chatRoomId = "<%= chatRoom._id %>"; // 聊天室的ID
      socket.emit("chatMessage", { chatRoomId, message });
      messageInput.value = "";
    }
  });
</script>
<%- include("partials/footer"); -%>
